{% extends 'base.html' %}

{% load static %}
{% block metadescription %}
        {% if category %}
            {{category.description|truncatewords:155}}
        {% else %}
            WELCOME TO MY SHOP STALL....
        {% endif %}
{% endblock %}

{% block title %}
{% if category %}
        {{category.name}}My Shop
    {% else %}
        See our new collections....
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shopp:allproductCat' %}">OUR PRODUCT COLLECTION IS HERE....</a></p>
        </div>
    </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="130px" height="130px">
</div>
<br>
<div>
    <h1  class="text-center my_title">{{category.name}}</h1>
    <h5 class="text-justify">{{category.description}}</h5>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our products">
</div>
<br>
<div>
    <h1 class="text-center my_title"><b>This is my shop stall</b></h1><br>
    <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
</div>
{% endif %}

<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list  %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width: 18rem;height: 500px; width: 50px;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}"  width="160px" height="1px" alt="{{product.name}}"></a>
                <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <p>RS.{{product.price}}</p>
                </div>
            </div>
        </div>


        {% endfor %}

    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
         <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-secondary btn-sm {% if products.number == pg %} active {% endif %}"> {{pg}} </a>
            {% endfor %}
        </div>

        {% endif %}
    </div>
    <br>
</div>
{% endblock %}

